@model IEnumerable<Fall2024_Assignment3_msingh9.Models.ActorMovie>

@{
    ViewData["Title"] = "Index";
}
<div class="pd">
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Actor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Actor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ActorMovieID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ActorMovieID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ActorMovieID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>